{% extends 'base.html' %}
{%load static %}
{%block css %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{%endblock%}
{%block main %}
<h1>Geodjango app</h1>
<div id="map"></div>
{%endblock%}
{%block js %}
<script src="{% static 'main.js' %}"></script>
{%endblock%}
{% block data %}
<script>
$.getJSON("{% url 'nepaldata' %}", function (data) {
    console.log(data);
    L.geoJSON(data, {
      onEachFeature: function (feature, layer) {
        layer.bindPopup(
          `<h5>district name: ${feature.properties.dist_name}</h5>`
        );
      },
    }).addTo(map);
    });
</script>
{%endblock%}